
.main-body {
    background-color: #e7eaec;
    width: 750px;
    height: 500px;
    padding: 10px;
    margin: 75px auto;
    border-radius: 10px;
}

.sub-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #cacecb;
    width: 350px;
    height: 300px;
    margin: 25px 35px;
    padding: 10px;
    border-radius: 10px;
}

.updates {
    background-color: #cacecb;
    width: 255px;
    height: 300px;
    margin: 25px 35px 25px 0px;
    padding: 10px;
    border-radius: 10px;
}

.net-worth{
    margin: 10px auto 10px auto;
    background-color: #0eff56;
    width: 350px;
    height: 100px;
    border-radius: 10px;

}

.net-worth p {
    text-align: center;
    color: white;
    padding-top: 35px;
    font-size: 25px;
}

.categories div {
    background-color: #0eff56;
    height: 85px;
    margin: 5px;
    border-radius: 10px;
}
